
<div class= "container">
<h1 class="click" class="col-md-6 offset-md-4" >Click Time </h1>
<% if @current_user.present? %>
  <h2 class="col-md-6 offset-md-4" >Welcome  <%= @current_user.name %></h2>
  <!-- <%= @now %> -->
<% end %>
</div>

<div id="clock">
    <p class="date">{{ date }}</p>
    <p class="time">{{ time }}</p>
</div>

