body{
max-width: 800px;
margin: 0 auto;
background-color: lightblue;
font-family: 'Inconsolata', monospace;
font-size: 26px;
}

div, .robi {
  color: white!important;
}

.nav a {
 color: white;
 margin:auto;
 margin-top: 20px;
 margin-bottom: 30px;
 font-size: 21px;

  }
 .container{
   color: white;
 }

.login-box {
  // background-color: white;
  // color: black!important;
  padding: 1em;
  border-radius: 1em;
}
#pro{
  color: white;
}
#show{
  color: white;
}
.r{
  color: white;
}
.robic{
  color: white;
  margin: 0px 0px 0px 165px;
}
.click{
  font-size: 60px;
  color: red;
  text-align: center;
  font-family: 'Secular One', sans-serif;
}

// clock on front

html,body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #154451  0%, #080606 180%);
    background-size: 100%;
}


p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    .time {
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
}
